- content_for(:subheader) do
  %section.row.filterHeader
    .small-12.columns
      .search
        %h1 Patients
        .btn.add
          = link_to "Add Patient", new_patient_path, class: 'btn-add side-link fix', title: 'Add Patient'

        %form.pageFilters#filters-form{action: patients_path, "data-auto-submit" => true}
          %input{type: "hidden", name: "page_size", value: @page_size}
          .row
            .filter
              %label.block Name
              %input.input-block{type: "text", name: "name", value: params["name"]}
            .filter
              %label.block Patient Id
              %input.input-block{type: "text", name: "entity_id", value: params["entity_id"]}
            .filter
              %label.block Last test order
              = cdx_select name: "last_encounter", value: params["last_encounter"] do |select|
                - select.item "", "Show all"
                - select.items @date_options, :value, :label

